<div class="text-center">
  <h1 style="font-size: 80px">Restaurante Muj</h1>
</div>
<div class="row text-center pt-4">
  <img src="assets/home-bg.jpg" class="img-fluid" />
</div>
<section class="pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="center">
          <h2>Nuestras caracteristicas</h2>
          <p><b>Caracteristicas principales</b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/digital-inventory.png" />
          <h4>Ingredientes frescos</h4>
          <p class="text-justify">
            Usamos los mejores ingredientes, frescos y con calidad para tu
            disfrute.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/search-online.png" />
          <h4>Platos en 30 minutos o menos</h4>
          <p class="text-justify">
            A pesar de que nuestros platos son deliciosos, no te preocupes por
            el tiempo, tu comida estara lista en 30 minutos o menos para tu
            disfrute.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/defaulters-list.png" />
          <h4>Platos preparados con calidad</h4>
          <p class="text-justify">
            Nuestros platillos cuenta con la mejor calidad, reconocidos
            internacionalmente con 3 estrellas Michellin, contando con los
            mejores cocineros e ingredientes del pais para satisfacer tu
            paladar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row text-center pt-4">
  <img width="150px" src="assets/in-homepage-banner.jpg" class="img-fluid" />
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h2>Nuestro proceso</h2>
          <p><b>Tenemos un proceso simple de 3 pasos</b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/sign-up.png" />
          <h4>Registrate</h4>
          <p class="text-justify">
            Necesitaremos datos de tu cuenta para poder procesar tu pedido, como
            lo son, tu nombre, direccion , numero de telefono e informacion de
            pago para procesar tu orden.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/search-online.png" />
          <h4>Ordena tu platillo</h4>
          <p class="text-justify">
            Al momento de ordenar, solamente tienes que especificar que platillo
            quieres, que cantidad y que hora quieres, con una pequena nota en
            caso de que tengas algun gustito especial
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <img width="150px" src="assets/library.png" />
          <h4>Pasa a recoger</h4>
          <p class="text-justify">
            Cuando tu orden este lista, puedes pasar a recogerla en caso de que
            la hayas ordenado para PickUp, o puedes esperar a que la llegue a tu
            domicilio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
